.navbg{
    background-color: #cceaea;
}
.nav-link{
    font-family: sans-serif;
    font-size: 16px;
}
/* .nav-item{
    padding-left: 20px;
}
.hp{
    padding-left: 40px;
}*/
a{
    text-decoration: none;
    color: #545454;
}
.dp{
    background-color: #cceaea;
    opacity: 75%;
}
/*.icon1{
    padding: 35px 5px 3px;
}*/
.slider{
    height:580px;
}