a:hover {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #c9e9e9;
  filter: drop-shadow(0px 8px 8px gray);
}

.top-bar .row a {
  color: rgba(144, 112, 87, 1) !important;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  color: rgb(20, 91, 91);
  margin-left: 20px;
}

.b2 {
  display: none;
}

.navbar-brancd .active {
  color: #0fa8a1 !important;
}

.nav-link:hover {
  color: #0fa8a1 !important;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 700px;
}

.og-heading {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  color: #0f5b5b;
}

.sli-btn {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

.sli-btn button {
  background-color: #0fa8a1;
  color: white;
}

.sli-btn2 {
  margin-left: auto;
  margin-right: auto;
}

.sli-btn2 button {
  background-color: #0fa8a1;
  color: white;
}

.about {
  background-color: #c9e9e9;
}

.ab-heading {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  color: #0f5b5b;
}

.ab-para {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  line-height: 120%;
}

.ab-btn {
  margin-top: 10px;
  background-color: #0fa8a1;
  color: white;
}

.ab-img {
  width: 100%;
  height: 500px;
}

footer {
  background-color: #c9e9e9;
}

footer .container .row .col-4 h4 {
  color: #0f5b5b;
  font-family: "Open Sans", sans-serif;
}

footer .container .row .col-4 p {
  color: #0f5b5b;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1199px) {
  .nav-link {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 0.9rem;
  }

  .carousel-inner .carousel-item img {
    height: 600px;
  }
}

@media (max-width: 932px) {
  .nav-link {
    font-size: 0.7rem;
  }

  .nt-a {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 767px) {
  .nt-a {
    font-size: 0.55rem !important;
  }

  .nav-link {
    margin: 0px !important;
  }

  .ab-btn {
    font-size: 0.6rem;
    margin-bottom: 10px;
    width: 120%;
  }

  .top-bar {
    display: none;
  }

  .b2 {
    display: block;
  }

  .carousel-inner .carousel-item img {
    height: 500px;
  }
}

@media (max-width: 575px) {
  .nt-a {
    margin-top: 0px !important;
  }

  .carousel-inner .carousel-item img {
    height: 400px;
  }
}

/*Umair'Css*/
.grp{
  color: #0f5b5b;
  font-family: "Open Sans", sans-serif;
}
.gr p{
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
}
.um-ba{
  background-color: #0fa8a1;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.um-ba:hover{
  background-color: rgba(144,112,87,0.5);
  color: white;
}

.um-op{
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
}
.um-pop{
  color: #55c0bb;
  font-family: "Open Sans", sans-serif;
}
.um-ph{
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
}
 .um-sp {
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
 }
 .um-vp{
   color: #1f1f1f;
   font-size: larger;
 }
/*End Umair'Css*/