a:hover {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #c9e9e9;
  filter: drop-shadow(0px 8px 8px gray);
}

.navbar-nav {
  margin-top: 80px;
}

.b2 {
  margin-top: -70px;
}

.collapse ul,
.collapse ul li a,
.collapse ul li {
  width: 100%;
}

.b2 a {
  color: rgba(144, 112, 87, 1) !important;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 39px;
  color: rgb(20, 91, 91);
  margin-left: 5px;
}

.navbar-brand .active {
  color: #0fa8a1 !important;
}

.nav-link:hover {
  color: #0fa8a1 !important;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 700px;
}

.og-heading {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  color: #0f5b5b;
}

.sli-btn {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

.sli-btn button {
  background-color: #0fa8a1;
  color: white;
}

.sli-btn2 {
  margin-left: auto;
  margin-right: auto;
}

.sli-btn2 button {
  background-color: #0fa8a1;
  color: white;
}

.about {
  background-color: #c9e9e9;
}

.ab-heading {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  color: #0f5b5b;
}

.ab-para {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  line-height: 120%;
}

.ab-btn {
  margin-top: 10px;
  background-color: #0fa8a1;
  color: white;
}

.ab-img {
  width: 100%;
  height: 500px;
}

footer {
  background-color: #c9e9e9;
}

footer .container .row .col-4 h4 {
  color: #0f5b5b;
  font-family: "Open Sans", sans-serif;
}

footer .container .row .col-4 p {
  color: #0f5b5b;
  font-family: "Open Sans", sans-serif;
}

.u-cat-head {
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 40px 0px;
  color: #545454;
}

.u-cat-para {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 40px 0px;
  color: #545454;
}

/* Container needed to position the overlay. Adjust the width as needed */
.u-over-container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

/* Make the image to responsive */
.u-over-image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.u-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 90%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.u-over-container:hover .u-overlay {
  opacity: 1;
}

.u-load {
  border: 1px solid #f4b22e;
  color: #f4b22e;
}

.u-appoint {
  background-color: rgba(126, 204, 197, 1);
  color: white;
}

.u-appoint:hover {
  background-color: #0f5b5b;
  color: white;
}

.u-pkg-head {
  color: #0f5b5b;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  margin: 20px 0px;
}

.u-pkg-para {
  color: #0f5b5b;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  margin: 20px 0px;
}

.u-pkg-img {
  height: 450px;
}

.u-pkg-brd {
  border: 1px solid #7eccc5;
  padding: 10px 0px;
}

.u-appoint-bg {
  background-color: #c9e9e9;
}

.u-appoint-head {
  color: rgb(127, 127, 127);
  font-size: 2rem;
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}

.u-appoint-para {
  color: rgb(127, 127, 127);
  font-size: 1rem;
  padding: 40px 0px;
  font-family: "Open Sans", sans-serif;
}

.u-appoint-bdr {
  border: 1px solid rgb(127, 127, 127);
}

.u-appoint-btn {
  background-color: rgb(127, 127, 127);
}

.u-vend-para {
  color: #0f5b5b;
  font-size: 0.8rem;
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}

.u-vend-bdr {
  filter: drop-shadow(4px 4px 4px grey);
}

.u-contact-bg {
  background-color: #ebe7e4;
}

.u-contact-head {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(127, 127, 127);
}

.u-contact-para {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  color: rgb(127, 127, 127);
}

.u-contact-inp {
  margin: 5px 0px;
  background-color: #c9e9e9;
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  .nav-link {
    font-size: 11px;
    margin-left: 0px;
  }

  .navbar-nav {
    margin-top: 70px;
  }

  .b2 {
    margin-top: -60px;
  }
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 9px;
  }

  .navbar-nav {
    margin-top: 50px;
  }

  .b2 {
    margin-top: -50px;
  }

  .carousel-inner .carousel-item img {
    height: 600px;
  }
}

@media (max-width: 932px) {
  .nav-link {
    font-size: 7px;
    font-weight: bolder;
  }
}

@media (max-width: 767px) {
  .nt-a {
    font-size: 0.55rem !important;
  }

  .nav-link {
    font-size: 1rem;
    margin: 0px !important;
    text-align: left !important;
  }

  .ab-btn {
    font-size: 0.6rem;
    margin-bottom: 10px;
    width: 120%;
  }

  .top-bar {
    display: none;
  }

  .carousel-inner .carousel-item img {
    height: 500px;
  }

  .b2 {
    margin-top: auto;
  }
}

@media (max-width: 575px) {
  .carousel-inner .carousel-item img {
    height: 400px;
  }
}

/*Umair'Css*/
.grp {
  color: #0f5b5b;
  font-family: "Open Sans", sans-serif;
}
.gr p {
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
}
.um-ba {
  background-color: #0fa8a1;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.um-ba:hover {
  background-color: rgba(144, 112, 87, 0.5);
  color: white;
}

.um-op {
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
}
.um-pop {
  color: #55c0bb;
  font-family: "Open Sans", sans-serif;
}
.um-ph {
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
}

.sp {
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
}
.vp {
  color: #1f1f1f;
  font-size: larger;
}
/*End Umair'Css*/

 .um-sp {
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
 }
 .um-vp{
   color: #1f1f1f;
   font-size: larger;
 }
 
.ls{
  position: absolute;
  top: 0;
  left: 15px;
  background-color: #907057;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  font-size: 14px;
}
.qv{
  width: 100%;
  background-color: rgb(255, 255, 255,0.5);
  text-decoration: none;
  color: black;
  position: absolute;
  left: 0;
  top: 201px;
}

.tgc{
  color: #7f7f7f;
  font-family:"Open Sans", sans-serif;
}
/*End Umair'Css*/
/*End Umair'Css*/


